  slideshow PICS
  
  <section id="slideshow" class="mt-5">
    <h2 class="text-center"></h2>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="images/infpic/997961d1526919957-vorstellung-grillforce-oder-die-pure-unvernunft-100_4390-pcgh.jpg"
            class="d-block w-100"
            alt="Bild 1"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Projekt 1</h5>
            <p>Beschreibung des ersten Projekts.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="images/infpic/cpuusage.jpg"
            class="d-block w-100"
            alt="Bild 2"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Projekt 2</h5>
            <p>Beschreibung des zweiten Projekts.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="images/infpic/images.jpg"
            class="d-block w-100"
            alt="Bild 3"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Projekt 3</h5>
            <p>Beschreibung des dritten Projekts.</p>
          </div>
        </div>
        <div class="carousel-progress">
          <div class="carousel-progress-bar"></div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Vorheriges</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Nächstes</span>
      </button>
    </div>
  </section>